<%= form_for Colibri::User.new, :as => :colibri_user, :url => colibri.create_new_session_path do |f| %>
  <div id="password-credentials">
    <p>
      <%= f.label :email, Colibri.t(:email) %><br />
      <%= f.email_field :email, :class => 'title', :tabindex => 1 %>
    </p>
    <p>
      <%= f.label :password, Colibri.t(:password) %><br />
      <%= f.password_field :password, :class => 'title', :tabindex => 2 %>
    </p>
  </div>
  <p>
    <%= f.check_box :remember_me, :tabindex => 3 %>
    <%= f.label :remember_me, Colibri.t(:remember_me) %>
  </p>

  <p><%= f.submit Colibri.t(:login), :class => 'button primary', :tabindex => 4 %></p>
<% end %>
